html, body {
  height: 100%;
}

body {
  background-image: url('../img/background.png');
  font-size: 16px;
}

section {
  padding-top: 25px;
  padding-bottom: 25px;
}

#page {
  min-height: 100%;
  margin-bottom: -@footer-size;
}

#page:after {
  content: "";
  display: block;
  height: @footer-size;
}

label {
  font-weight: normal;
}
