.article-header {
  display: inline;
  background-color: @tangerine;
  height: 5px;
  width: 50px;
}

@font-face {
  font-family: Copperplate;
  src: url('../fonts/coprgtb.ttf');
}

@font-face {
  font-family: Gabriola;
  src: url('../fonts/gabriola.ttf');
}
