@black: #000;
@white: #fcfcfc;
@tangerine: #ffb000;
@blue-stone: #174c5a;
@grape: #3e3d4d;
@deep-sky: #00abec;
@suva-grey: #898989;
@crusta: #f1462d;
@pigment-green: #00a65a;
@link-water: #d2d6de;


@footer-size: 60px;
