footer > .subscribe {
  padding-bottom: 20px;
  background-color: @blue-stone;
  color: @white;
}

footer > .copyright-bar {
  height: auto;
  padding: 10px;
  position: relative;
  bottom: 0;
  background-color: @tangerine;
  color: @white;
}

@media (max-width: 992px) {
  footer {
    text-align: center;
  }
}
