#top {
  height: 50px;
  background-image: linear-gradient(@tangerine 0%, @tangerine 80%, @blue-stone 80%, @blue-stone 100%);
}

#logo
{
  width: 100%;
  height: 135px;
  min-height: 135px;
  background: url('../img/logo.png') no-repeat, url('../img/saovicente.png') no-repeat 100% 5%;
  user-select: none;

  .logo-title-center {
    width: ~"calc(100% - 355px)";
    padding-top: 50px;
    margin-left: 269px;
  }

  .logo-title {
    width: 550px;
    margin: 0 auto;
    color: @tangerine;
    font-family: Gabriola;
    font-weight: bold;
    font-size: 2.7em;
    text-shadow: 0.02em 0.02em 1px @suva-grey;

    @media screen and(max-width: 925px) {
        display: none;
    }
  }

  & + .navbar {
    background-color: @white;
  }
}

#site-navbar-nav {
  margin-top: -5px;
  margin: 0;

  .navbar-collapse {
    border-top: 1px solid darken(@white, 8%);
    border-bottom: 5px solid @tangerine;
  }

  .dropdown-menu {
    margin-top: 2px !important;

    & > .active > a, & > .active > a:hover, & > .active > a:focus {
      background-color: @tangerine;
    }
  }
}
