.event-list {
  list-style: none;
  padding: 0px;

  li {
    background-color: @white;
    padding: 0px;
    margin-bottom: 10px;

    & > time {
      display: inline-block;
      width: 100%;
      color: @white;
      background-color: @deep-sky;
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    & > time > span {
      display: none;
    }

    & > time > .day {
      display: block;
      font-size: 40px;
      font-weight: 100;
      line-height: 1;
    }

    & time > .month {
      display: block;
      font-size: 24px;
      font-weight: 900;
      line-height: 1;
    }

    & > img {
      width: 100%;
    }

    & > .info {
      padding-top: 5px;
      text-align: center;
    }

    & > .info > .title {
      font-size: 1em;
      margin: 10px 0 0 0;
    }

    & > .info > .desc {
      font-size: 10pt;
      font-weight: 300;
      margin: 0px;
    }

    @media (min-width: 768px) {
      & {
        position: relative;
        display: block;
        width: 100%;
        height: 64px;
      }

      & > time,
      & > img {
        display: inline-block;
      }

      & > time,
      & > img {
        width: 64px;
        float: left;
      }

      & > .info {
        border-bottom: 1px solid @white;
        overflow: hidden;
      }

      & > time,
      & > img {
        width: 64px;
        height: 64px;
        padding: 0px;
        margin: 0px;
      }

      & > .info {
        position: relative;
        height: 64px;
        text-align: left;
        padding-right: 40px;
      }

      & > .info > .title,
      & > .info > .desc {
        padding: 0px 10px;
      }
    }
  }
}
