#carousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: none;
}

#carousel .list-group {
  position: absolute;
  top: 0;
  right: 0;
}

#carousel .list-group-item {
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
}

#carousel .list-group-item.active,
#carousel .list-group-item.active:hover,
#carousel .list-group-item.active:focus {
  z-index: 2;
  color: @white;
  background-color: @tangerine;
  border-color: @tangerine;
}

@media (min-width: 992px) {
  #carousel {
    padding-right: 100% / 3;
  }

  #carousel .carousel-controls {
    display: none;
  }
}

@media (max-width: 991px) {
  .carousel-caption p,
  #carousel .list-group {
    display: none;
  }
}
