.album-item {
  height: 300px;
  padding: 0 !important;
  border-bottom: 2px solid @white;
  border-right: 2px solid @white;
  background-size: cover;
  overflow: hidden;
}

.album-item .overlay {
  background: fade(@black, 25%);
  position: relative;
  margin: 10px 0 0 10px;
  height: 100%;
  text-align: center;
  opacity: 0;
}

.album-item:hover .overlay {
  opacity: 1;
}

.album-item img {
  position: absolute;
}

.plus {
  display: block;
  font-family: Helvetica;
  font-weight: 900;
  color: fade(@white, 15%);
  font-size: 48px;
  transition-duration: .5s;
  cursor: pointer;
}

.plus:hover {
  transform: scale(1.5);
}

a.plus {
  text-decoration: none;
  color: @white;
}

.album-item .body {
  color: @white;
}

.album-item .content {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
