.pd-l-3px {
  padding-left: 3px;
}

.title-header > .title-text {
  display: table;
  white-space: nowrap;

  &:before, &:after {
    border-top: 3px solid @tangerine;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 48%;
  }

  &:before {
    right: 1%;
  }

  &:after {
    left: 1%;
  }
}

@media screen and (min-width: 768px) {
  .img-article {
    max-height: 200px;
  }
}
