.notice {
  padding: 15px;
  background-color: @white;
  border-left: 6px solid @suva-grey;
  margin-bottom: 10px;
  box-shadow: 0 5px 8px -6px fade(@black, 20%);
}

.notice-info {
  border-color: @deep-sky;
  text-align: justify;
}

.notice-info > strong {
  color: @deep-sky;
}

.notice-warning {
  border-color: @tangerine;
  text-align: justify;
}

.notice-warning > strong {
  color: @tangerine;
}
